{# Attach libraries to use #}
{{ attach_library('ara/input--submit--polymer') }}

{# Prepare classes to add #}
{% set classes = ['input--submit--polymer-ara'] %}

<input{{ attributes.addClass(classes) }} />{{ children }}
