@import "../../../lumx-common-imports";

[dir="rtl"] {
  // Search filter container
  .search-filter__container {
      padding: 0 $size-xl 0 $size-l;
  }

  // Search filter label
  .search-filter__label {
      @include position(absolute, 0 0 null auto);

      .mdi {
          @include position(absolute, 9px 8px null auto);
      }
  }

  // Search filter cancel
  .search-filter__cancel {
    // @todo
    // not working properly for rtl, so we hide it for now.
      display: none;
  }
}
