{# Attach libraries to use #}
{{ attach_library('ara/block--searchform--header--lumx--2') }}

{# Prepare classes to add #}
{% set classes = ['block--searchform--header--lumx--2-ara'] %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
