{# Attach libraries to use #}
{{ attach_library('ara/input--submit--lumx') }}

{# Prepare classes to add #}
{% set classes = ['input--submit--lumx-ara'] %}

<input{{ attributes.addClass(classes) }} />{{ children }}
