
@include media($medium-screen) {

 .one-sidebar {
    .layout-content {
      @include ara-shift(4);
    }
    .layout-sidebar-first, .layout-sidebar-second {
      @include ara-shift(-12);
    }
  }
}

// Large screen layout
@include media($large-screen) {

 .two-sidebars {
    .layout-content {
      @include ara-shift(6);
    }
    .layout-sidebar-first {
      @include ara-shift(-12);
    }
    .layout-sidebar-second {
      @include ara-shift(-9);
    }
  }
}
