
@include media($medium-screen) {

 .one-sidebar.sidebar-first {
    .layout-content {
      @include ara-shift(4);
    }
    .layout-sidebar-first {
      @include ara-shift(-12);
    }
  }
}

// Large screen layout
@include media($large-screen) {

 .two-sidebars {
    .layout-content {
      @include ara-shift(3);
    }
    .layout-sidebar-first {
      @include ara-shift(-9);
    }
  }
}
