
@include media($medium-screen) {

 .one-sidebar {
    .layout-content {
      @include ara-span-columns(8);
    }
    .layout-sidebar-first, .layout-sidebar-second {
      @include ara-span-columns(4);
    }
  }

 .two-sidebars {
    .layout-sidebar-first, .layout-sidebar-second {
      @include ara-span-columns(6);
    }
  }
}

// Large screen layout
@include media($large-screen) {

 .two-sidebars {
    .layout-content {
      @include ara-span-columns(6);
    }
    .layout-sidebar-first, .layout-sidebar-second {
      @include ara-span-columns(3);
    }
  }
}

// Content region positioning in relation to the sidebars
@if $content-region-position == middle {
  @import "content-region-middle";
}
@else if $content-region-position == last {
  @import "content-region-last";
}
