
@mixin ara-rtl() {
  @if $rtl {
    [dir="rtl"] & {
      @include direction-context(right-to-left) {
        @content;
      }
    }
  }
}

@mixin ara-span-columns($span) {
  @include span-columns($span, block-collapse);
  @include ara-rtl {
    float: right;
  }
}

@mixin ara-shift ($shift) {
  @include shift($shift);
  @include ara-rtl {
    margin-left: 0;
    @include shift($shift);
  }
}
